/*       input { width: 550px;} all input type paba .......so we can not do this        */

h2{ color: red; }

input[type=text] {


		width: 116px;

    	height: 20px;

		border: 2px solid red;

		border-radius: red ;

		text-decoration-color: red;

		font-weight: bold;

}

input[type=mail]{

	color: green;
}

input[type=Password]{

	color: red;
}

textarea { 

	color: red; 

	font-weight: 4px; 

}

input[type=submit]{

	 width: 72px;

    height: 24px;

    color: red;

    padding: 5px;;
}
.Image{ 


		background-image: url(Image\5MatP.png);

		background-color: #999966;

		width: 450px;

		height: 810px;


 }

 .jibon{
	 
	 background-color:red;
 }
 
 .jui{
	 
	 background-color:green;
 }

